name: Deploy Django App

on:
  push:
    branches: [ deploy_setup ]  # Или develop, если хочешь сразу туда

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: python manage.py test
      env:
        DJANGO_SETTINGS_MODULE: DjREST.settings
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        DEBUG: 0

  deploy:
    needs: test  # Запускается только если job 'test' прошёл успешно
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/deploy_setup'  # Условие: только для ветки deploy_setup
    steps:
    - name: Deploy to Server via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /home/deploy/app
          git fetch origin
          git reset --hard origin/deploy_setup
          source venv/bin/activate
          pip install -r requirements.txt
          python manage.py migrate --settings=DjREST.settings
          sudo supervisorctl restart djrest
          sudo nginx -s reload
